---
layout: default
title: About
use:
    - speakers
---

<div class="marquee">About the Tour</div>
<div class="body standard-text">
    <p>The Wisdom as a Service World Tour was launched as a response to the
    <a href="//www.getpantheon.com/blog/phpworld-best-show">tremendous</a>
    <a href="//storify.com/coderabbi/talmudic-maxims-to-maximizeyour-growth-as-a-develo">positive</a>
    <a href="//ericlbarnes.com/talmudic-maxims-maximize-growth-software-developer/">reaction</a>
    to the organizer's talk at the recent <a href="//world.phparch.com/speakers/#64715">[php]world</a>
    on community, software craftsmanship, personal development and professional growth. It
    was immediately obvious that this was a message that the development community was eager to hear,
    the only question being how to involve more voices in the conversation.</p>
    <p>Initially the Tour was conceived as a personal undertaking and limited to conferences and a few User Groups in their
    vicinities, but the overwhelming interest from User Groups around the world made it clear that a larger initiative was
    needed. A native of Iowa, the organizer has always believed that if you "<a href="//en.wikipedia.org/wiki/Field_of_Dreams">build
    it, they will come</a>"... and it wasn't long before the larger Tour became a reality.</p>
    <p>Sponsorship is still being arranged and Tour events are still being planned, but the expectation is that the Tour will
    be able to include a minimum of 35 User Groups around the word, connecting with over 2000 PHP developers. Our hope is
    that additional speakers can be added to the Tour and that ultimately the Tour can be extended to all User Groups
    expressing an interest.</p>
</div>
<div class="marquee">About the Organizer</div>
<div class="body standard-text">
    <p><span style="font-weight:400" id="yitzchok-willroth">Yitzchok Willroth</span> is a Talmudic scholar and independent web application engineer, consultant and coach living in Lakewood, New Jersey.</p>
    <p>A start-up veteran, dev bootcamp instructor and frequent conference speaker, Yitzchok is the founder & organizer of the <a href="//shorephp.org">ShorePHP User Group</a>, a co-organizer of the <a href="//nyphp.org">NYPHP User Group</a>, and an active participant in the <a href="//phpmentoring.org">PHPMentoring Initiative.</a></p>
    <p>Passionate about clean code and robust application architecture, he is also a strong proponent of remote teams as a way for software organizations to thrive while affording developers a healthy work:life balance.</p>
    <p>You can see his open-source contributions on <a href="//github.com/coderabbi">github</a> and follow him on <a href="//twitter.com/coderabbi">twitter</a>; you may find him frequently in <a href="//webchat.freenode.net">FreenodeIRC</a>:#coderabbi.</p>
</div>
<div class="marquee">About the Speakers</div>
<div class="body standard-text">
     {% for speaker in data.speakers %}
        {% include "_speaker.twig" %}
    {% endfor %}
</div>
<div class="outro">
    <p class="text-center">If you would like your message included as part of this worldwide conversation, please review the <a href="sponsorship">Sponsorship Prospectus</a>.</p>
</div>